$header-height: 50px;
$header-width: 800px;
$header-spacing: -$header-height;

$border: 1px;

// colors;
$background: #fff;
$foreground: #1e212b;
$alternate: #1e212baa;
$accent: #7c88fa;
$button: #f054a5;
$highlight: #c3de37;
$grey: #1e212b80;
$white: #ffffff;

$footer: #7c88fa;
$footer-text: #fff;
$footer-link: #fabf37;
