@import "@/styles/variables.scss";

// text styles
span {
  &.grey {
    color: $grey;
    // alternate shade for contrast
    // color: #929292bd;
  }
  &.white {
    color: $white;
  }
  &.green {
    color: $accent;
  }
}
