$header-height: 50px;
$header-width: 800px;
$header-spacing: -$header-height;

// colors;
$background: #000000;
$foreground: #ffffff;
$alternate: #6e6e73;
$accent: #03ff40;
$button: #226726;
$highlight: #226726;
$grey: #fff7; // #aaaaaacb
$white: #ffffff;
