@import "@/app/variables.scss";

:root {
  --part-width: 980px;
  @media (max-width: 1075px) {
    --part-width: 750px;
  }
  @media (max-width: 825px) {
    --part-width: 600px;
  }
  --cursor: #88888e;
}
::selection {
  background-color: $highlight;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  box-sizing: border-box;
  // Satisfy positioning for useScroll
  position: relative;
}

body {
  color: $foreground !important;
  background: $background !important;
  font-family: var(--font), Helvetica, sans-serif;
  letter-spacing: -0.0075em;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* ensure position: sticky will work on contents */
  overflow: initial !important;
}
body > main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* error page */
h1.next-error-h1 {
  border-right-color: #ffffff80 !important;
}
