@import "@/app/variables.scss";
.container {
  max-width: var(--part-width);
  margin: 0 auto;
  .imageContainer {
    position: sticky;
    top: $header-height;
    z-index: -1;
    height: calc(100dvh - $header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    user-select: none;
    .imageWrapper {
      position: absolute;
      overflow: hidden;
      width: 50vw;
      height: 50dvh;
      min-width: 300px;
      max-height: 500px;

      @media (max-width: 750px) {
        width: 80vw;
        height: 70dvh;
        max-width: 600px;
        max-height: 800px;
      }
      .image {
        height: 100%;
        width: 100%;
        object-fit: contain;
        background-color: var(--background);
      }
    }
  }
  .blurbContainer {
    padding-bottom: calc(100dvh - $header-height);
    @media (max-width: 750px) {
      margin-left: 20px;
      margin-right: 20px;
      position: relative;
      padding-bottom: 20px;
    }
    .blurbGroup {
      display: flex;
      flex-flow: column nowrap;
      .blurb {
        font-size: 21px;
        font-weight: 600;
        max-width: max(25%, 300px);
        margin-top: 150px;
        @media (max-width: 750px) {
          font-size: 15px;
          line-height: 1.5;
          max-width: 440px;
          padding: 0 20px;
          left: max(calc((100% - 440px) / 2), 0px);
          margin: 0 auto;
          position: fixed;
          bottom: 40px;
        }
      }
      &.startLeft .blurb {
        &:nth-child(odd) {
          align-self: flex-start;
        }
        &:nth-child(even) {
          align-self: flex-end;
        }
      }

      &.startRight .blurb {
        &:nth-child(even) {
          align-self: flex-start;
        }
        &:nth-child(odd) {
          align-self: flex-end;
        }
      }
    }
  }
}
