.container {
  margin-top: 120px;
  margin-bottom: 90px;
  max-width: 100%;
  overflow: hidden;
  .textSection {
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: fit-content;
    margin-left: auto;
    margin-top: none;
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 120px;
    @media (max-width: 1000px) {
      padding-bottom: 80px;
    }
    @media (max-width: 750px) {
      padding-bottom: 30px;
    }
    overflow: visible;
  }
  .earthWrapper {
    z-index: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100dvw;
    margin-top: -50vh;
    .earthContainer {
      width: 100dvw;
      height: 100dvh;
      canvas {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
  .markerWrapper {
    overflow: visible;
    height: 200px;
    .marker {
      overflow: visible;
      width: 100px;
      height: 200px;
      margin-right: -50px;
    }
  }
}
