.container {
  margin-top: 120px;
  margin-bottom: 90px;
  .textSection {
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: fit-content;
    margin-left: auto;
    margin-top: none;
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 120px;
    @media (max-width: 1000px) {
      padding-bottom: 80px;
    }
    @media (max-width: 750px) {
      padding-bottom: 30px;
    }
    overflow: visible;
  }
  .earthWrapper {
    z-index: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    margin-top: -50vh;
  }
}
