@import "@/styles/variables.scss";

.container {
  position: relative;
  // margin-top: calc(-1 * $border);
  font-size: 14px;
  background-color: $footer;
  color: $footer-text;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 20px 60px;
  .alt {
    color: transparentize($footer-text, 0.3);
  }
  .links {
    display: inline-flex;
    flex-flow: row nowrap;
    .link {
      color: $footer-text;
      text-decoration: none;
    }
    .linkSeparator {
      display: inline-block;
      height: 1em;
      width: $border;
      border-radius: $border;
      background-color: transparentize($footer-text, 0.3);
      align-self: center;
      margin: 0 10px;
    }
  }
  ::selection {
    background: transparentize($highlight, 0.8);
    color: $highlight;
  }

  .link {
    color: $footer-link;
    text-underline-offset: 2px;
    &:hover {
      text-decoration: underline;
    }
  }
  @media (max-width: 750px) {
    flex-flow: column;
    align-items: center;
    gap: 10px;
  }
}
