@import "@/styles/variables.scss";

.container {
  position: sticky;
  top: 0;
  z-index: 100;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    padding: 0px 16px;
    max-width: $header-width;
    margin: 0 auto;
    color: white;
    font-size: 12px;

    .title {
      font-size: 16px;
      font-weight: 520;
      user-select: none;
    }

    .nav {
      ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        position: relative;

        li {
          list-style-type: none;
          opacity: 0.6;
          border-bottom: 1px solid #ffffff00;
          a {
            display: inline-block;
            line-height: calc($header-height - 1px);
            text-decoration: none;
            padding: 0 10px;
          }

          &.action {
            opacity: 1;
            border-bottom: none;
            a {
              display: inline-flex;
              align-items: center;
              margin-left: 10px;
              padding: 7px 10px;
              height: 24px;
              opacity: 1;
              line-height: 12px;
              background-color: $button;
              border-radius: 15px;
            }
          }
        }
        .highlight {
          top: 0;
          left: 0;
          z-index: -1;
          border-bottom: solid 1px white;
        }
      }
    }
    .separator {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border: none;
      height: 1px;
      position: absolute;
      background: #aaa;
      opacity: 0.3;
    }
  }
}
