@import "@/styles/variables.scss";

.wrapper {
  $media-base: 500px;
  $stats-base: 400px;
  $break-width: calc($border + $stats-base + $media-base);

  position: relative;
  z-index: -1;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  width: 100%;

  margin-bottom: 90px;
  margin-top: 40px;
  @media (max-width: 1000px), (max-height: 600px) {
    margin-bottom: 60px;
    margin-top: 20px;
  }
  @media (max-width: 750px), (max-height: 350px) {
    margin-bottom: 30px;
    margin-top: 40px;
  }

  .title {
    font-size: 42px;
    text-align: center;
    margin-bottom: 30px;
    @media (max-width: 610px) {
      font-size: 32px;
    }
  }
  .container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    width: 100%;
    background: $alternate;
    gap: $border;
    padding: $border 0;
    > * {
      background: $background;
    }
    .stats {
      flex: 2 1 $stats-base;
      width: $stats-base;
      padding: 70px 50px;
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      flex-flow: column nowrap;
      gap: 20px;
      .stat {
        max-width: 340px;
        width: 100%;
        flex-basis: auto;
        .statNumber {
          user-select: none;
          .number {
            color: $accent;
            font-size: 70px;
            --decor-size: 52px;
            @media (max-width: 1000px), (max-height: 600px) {
              font-size: 50px;
              --decor-size: 32px;
            }
            @media (max-width: 750px), (max-height: 350px) {
              font-size: 32px;
              --decor-size: 21px;
            }
          }
        }
        .statText,
        .statFirst {
          &.statFirst {
            color: $grey;
            margin-top: 10px;
            margin-bottom: -3px;
          }
          font-size: 20px;
          line-height: 112%;
          font-weight: 600;
          @media (max-width: 1000px), (max-height: 600px) {
            font-size: 17px;
          }
          @media (max-width: 750px), (max-height: 350px) {
            font-size: 15px;
          }
        }
      }
      @media (min-width: 610px) and (max-width: $break-width) {
        padding: 0;
        gap: $border;
        background-color: $alternate;
        flex-flow: row nowrap;
        .stat {
          background-color: $background;
          flex: 1 0 200px;
          padding: 50px 20px;
          height: 100%;
          .statFirst {
            margin-top: -1em !important;
          }
        }
      }
    }
    .media {
      flex: 3 1 $media-base;
      width: $media-base;
      padding: 30px 70px;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .caption {
        text-align: center;
        font-size: 17px;
        color: $grey;
        line-height: 112%;
        font-weight: 400;
        @media (max-width: 1000px), (max-height: 600px) {
          font-size: 15px;
        }
        @media (max-width: 750px), (max-height: 350px) {
          font-size: 13px;
        }
      }
      img,
      video {
        flex: 0 0 auto;
        height: auto;

        @media (min-width: 610px) and (max-width: $break-width) {
          flex: 1 1 100px;
          height: unset;
        }
        width: 100%;
        max-width: 100%;
        min-width: unset;
        max-height: 70vh;
        object-fit: contain;
        &video {
          height: auto;
          flex: 0 0 auto;
        }
      }

      @media (max-width: 750px) {
        padding: 20px 30px;
      }
    }
  }
}
