@import "@/styles/variables.scss";
.container {
  width: calc(100% - 2 * 50px);
  max-width: var(--part-width);
  margin: 0 50px;
  > * {
    width: fit-content;
  }
  .header {
    padding-bottom: 36px;
    font-size: 90px;
    line-height: 90%;
    font-weight: 600;
    @media (max-width: 1100px), (max-height: 600px) {
      font-size: 80px;
      padding-bottom: 24px;
    }
    @media (max-width: 750px), (max-height: 350px) {
      font-size: 52px;
      padding-bottom: 16px;
    }
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .section,
  .text {
    &.section {
      margin-bottom: 16px;
      font-weight: 600;
      color: $grey;
    }
    &.text {
      max-width: 820px;
      margin-bottom: 10px;
      line-height: 112%;
      font-weight: 600;
      > span > a {
        text-decoration: underline;
      }
      a {
        span {
          font-weight: 600;
        }
        &:hover span {
          text-decoration: underline;
        }
      }
    }

    font-size: 32px;
    @media (max-width: 1000px), (max-height: 600px) {
      font-size: 24px;
    }
    @media (max-width: 750px), (max-height: 350px) {
      font-size: 24px;
    }
  }
}
.wrapper {
  margin: auto;
  margin-top: 120px;
  margin-bottom: calc(90px + 50dvh);
  width: 100%;
  max-width: calc(var(--part-width) + 50px * 2);
  @media (max-width: 1000px), (max-height: 600px) {
    margin-top: 80px;
    margin-bottom: calc(60px + 50dvh);
  }
  @media (max-width: 750px), (max-height: 350px) {
    --space: 0;
    margin-top: 60px;
    margin-bottom: 30px;
  }
}
