@import "@/app/variables.scss";
.container {
  width: 100%;
  margin: 0 50px;
  font-weight: 590;
  .section {
    margin-bottom: 16px;
    font-size: 24px;
  }
  .header {
    margin-bottom: 36px;
    font-size: 90px;
    line-height: 90%;
  }
  .text {
    max-width: 820px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 112%;
  }
}
.wrapper {
  margin: auto;
  margin-top: 120px;
  margin-bottom: 90px;
  width: 100%;
  max-width: 980px;
}
