@import "@/app/variables.scss";

.container {
  z-index: 10;
  height: calc(100vh - $header-height - $header-spacing);
  width: 100%;
  position: sticky;
  margin-top: $header-spacing;
  padding: 0 50px;
  padding-top: -$header-spacing;
  top: calc(-100dvh + 2 * $header-height + $header-spacing);
  // center children
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  // bottom spacing

  margin-bottom: 90px;
  @media (max-width: 1000px) {
    margin-bottom: 60px;
  }
  @media (max-width: 750px) {
    margin-bottom: 30px;
  }

  .imageWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    user-select: none;
    pointer-events: none;
    .image {
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .primary {
    font-size: 75px;
    line-height: 75px;
    font-weight: 600;
    position: unset;
    top: calc($header-height/2 - 0.5em);
    left: 20px;
    z-index: 200;

    .words {
      display: flex;
      flex-flow: row wrap;
      align-items: center;

      .titleWord {
        display: inline-block;
        overflow: hidden;
        height: 1.1em;
      }
      @media (max-width: 750px) {
        flex-flow: column nowrap;
        font-size: 50px;
        line-height: 50px;
        span {
          margin-left: 0 !important;
          margin-right: 0 !important;
          &:not(:last-child):not(:last-child) {
            margin: -5px 0 !important;
          }
        }
      }
    }
  }
  .secondary {
    margin-top: 10px;
    font-size: 32px;
    font-weight: 500;
    z-index: 200;
    @media (max-width: 600px) {
      font-size: 20px;
    }
  }
}
