@import "@/app/variables.scss";
$header-spacing: -$header-height;

.container {
  height: calc(100vh - $header-height - $header-spacing);
  position: sticky;
  margin-top: $header-spacing;
  padding-top: -$header-spacing;
  top: calc(-100vh + 2 * $header-height + $header-spacing);
  z-index: -1;
  // center children
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }
  .primary {
    font-size: 75px;
    line-height: 75px;
    font-weight: 600;
    position: unset;
    top: calc($header-height/2 - 0.5em);
    left: 20px;
    z-index: 200;
  }
  .secondary {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
  }
}
